<h2><%= @routine.name %></h2>
<h3><%= @routine.category.name %></h3>
<%= @routine.description %>

Check out all the exercises in this routine:
<%= link_to "Exercises", routine_exercises_path(@routine) %>
routine_exercises_path       exercises#index
