<h1> Hi, <%= @user.name %> Please selection from your Workout List Below</h1>

<%= link_to "Log in with Facebook", '/auth/facebook'%>

<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>