
<h1>Exercises: </h1>
<p id="notice"><%= notice %></p>
 
 <% @exercises.each do |e| %> 
<ul><%= link_to e.name, exercise_path(e) %> (<%= e.routine.name %>) <br/></ul>

<% end %>

<%= link_to "Back to Home", user_path(current_user.id) %>

